In [48]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score

In [4]:
df = pd.read_csv("./Crop_recommendation.csv")
df

        N   P   K  temperature   humidity        ph    rainfall   label
0      90  42  43    20.879744  82.002744  6.502985  202.935536    rice
1      85  58  41    21.770462  80.319644  7.038096  226.655537    rice
2      60  55  44    23.004459  82.320763  7.840207  263.964248    rice
3      74  35  40    26.491096  80.158363  6.980401  242.864034    rice
4      78  42  42    20.130175  81.604873  7.628473  262.717340    rice
...   ...  ..  ..          ...        ...       ...         ...     ...
2195  107  34  32    26.774637  66.413269  6.780064  177.774507  coffee
2196   99  15  27    27.417112  56.636362  6.086922  127.924610  coffee
2197  118  33  30    24.131797  67.225123  6.362608  173.322839  coffee
2198  117  32  34    26.272418  52.127394  6.758793  127.175293  coffee
2199  104  18  30    23.603016  60.396475  6.779833  140.937041  coffee

[2200 rows x 8 columns]

In [72]:
df.N[1: 3]
df.N[3]

74

In [74]:
X_for_pred = pd.DataFrame(columns = ['j_3', 'j_2', 'j_1', 'label'])
for i, k in enumerate(range(len(df))):
    if i >2:
        X_for_pred.loc[i, 'j_3'] = df.N[i-3 : i].values[0]
        X_for_pred.loc[i, 'j_2'] = df.N[i-3 : i].values[1]
        X_for_pred.loc[i, 'j_1'] = df.N[i-3 : i].values[2]
        X_for_pred.loc[i, 'label'] = df.N[i]
    else:
        X_for_pred.loc[i, 'label'] = 0

In [76]:
X_for_pred = X_for_pred.dropna()

In [84]:
y = df.N[::4][1:]
preds = pd.DataFrame(columns = ['j_3', 'j_2', 'j_1', 'label'])
X = []
for k in y.index:
    X.append(df.N[k-4 : k-1])

for i, y_ in enumerate(y):
    preds.loc[i, 'label'] = y_
    preds.loc[i, 'j_3'] = X[i].values[0]
    preds.loc[i, 'j_2'] = X[i].values[1]
    preds.loc[i, 'j_1'] = X[i].values[2]

X = preds.iloc[:, 0:3]
y = preds['label']

lr = LinearRegression()
X_train, X_test, y_train, y_test = X_for_pred.iloc[:400, :-1], X_for_pred.iloc[400:, :-1], X_for_pred.iloc[:400, -1], X_for_pred.iloc[400:, -1]

lr.fit(X_train, y_train)

lr_pred = lr.predict(X_test)
print(r2_score(y_test, lr_pred))

preds_final = np.insert(lr.predict(X_for_pred.iloc[:, :-1]), 0, 0)
for i in range(2):
    preds_final = np.insert(preds_final, 0, 0)
# def lr(x):
    

# df['N_pred']= df.N.apply(lambda x : lr(x))

0.8479619465534748

In [85]:
df['prediction'] = preds_final

In [86]:
df

,N,P,K,temperature,humidity,ph,rainfall,label,prediction
0,90,42,43,20.879744,82.002744,6.502985,202.935536,rice,0.000000
1,85,58,41,21.770462,80.319644,7.038096,226.655537,rice,0.000000
2,60,55,44,23.004459,82.320763,7.840207,263.964248,rice,0.000000
3,74,35,40,26.491096,80.158363,6.980401,242.864034,rice,76.250925
4,78,42,42,20.130175,81.604873,7.628473,262.717340,rice,72.101417
...,...,...,...,...,...,...,...,...,...
2195,107,34,32,26.774637,66.413269,6.780064,177.774507,coffee,102.061825
2196,99,15,27,27.417112,56.636362,6.086922,127.924610,coffee,103.239354
2197,118,33,30,24.131797,67.225123,6.362608,173.322839,coffee,97.225593
2198,117,32,34,26.272418,52.127394,6.758793,127.175293,coffee,104.370477
2199,104,18,30,23.603016,60.396475,6.779833,140.937041,coffee,106.738481

In [30]:
df["label"].value_counts()

rice           100
maize          100
jute           100
cotton         100
coconut        100
papaya         100
orange         100
apple          100
muskmelon      100
watermelon     100
grapes         100
mango          100
banana         100
pomegranate    100
lentil         100
blackgram      100
mungbean       100
mothbeans      100
pigeonpeas     100
kidneybeans    100
chickpea       100
coffee         100
Name: label, dtype: int64

In [6]:
labels  = df["label"].unique()
labels

array(['rice', 'maize', 'chickpea', 'kidneybeans', 'pigeonpeas',
       'mothbeans', 'mungbean', 'blackgram', 'lentil', 'pomegranate',
       'banana', 'mango', 'grapes', 'watermelon', 'muskmelon', 'apple',
       'orange', 'papaya', 'coconut', 'cotton', 'jute', 'coffee'],
      dtype=object)

In [89]:
import requests
import time

product = df["label"].values[0]

while True:
    for i in range(100):
        time.sleep(1)
        print(requests.post("http://localhost:8080/api/v1" + product + "/telemetry", json=df.iloc[i].to_dict()))

<Response [405]>
<Response [405]>
<Response [405]>
<Response [405]>

KeyboardInterrupt:

In [28]:
def

SyntaxError: invalid syntax (1885169875.py, line 1)

In [21]:
df.iloc[0].to_dict()

{'N': 90,
 'P': 42,
 'K': 43,
 'temperature': 20.87974371,
 'humidity': 82.00274423,
 'ph': 6.502985292000001,
 'rainfall': 202.9355362,
 'label': 'rice'}